.home .section-middle {
  margin-top: 10px;
  padding: 0 15px;
  display: flex;
  justify-content: flex-start;
}
.home .section-middle .a {
  color: rgba(255, 255, 255, 0.5);
}
.home .avatar-container {
  margin-right: 0 5px;
}
.home .avatar-container img {
  width: 47px;
  height: 47px;
}
.home .tweet-input {
  width: 100%;
  height: 100%;
  display: block;
  margin-bottom: 5px;
}
.home .input {
  padding: 0 8px;
}
.home .input textarea {
  resize: none;
  width: 100%;
  margin: 12px 0;
  display: block;
  font-size: 19px;
  border: none;
  color: var(--dark-theme-color);
  background-color: var(--dark-theme-bg);
  overflow: hidden;
}
.home .tweet-input-utility {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .utility-left,
.home .utility-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home .utility-left .a {
  margin: 0;
  padding: 8px 8px;
}
.home .text-counter {
  width: 24px;
  height: 24px;
}
.home .text-counter .main-circle {
  stroke: var(--primary-border-color);
  stroke-width: 2px;
  fill: transparent;
}
.home .text-counter .overlay-circle {
  transition: 100ms stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
.home .separater {
  width: 2px;
  height: 30px;
  margin: 0 10px;
  background-color: var(--primary-border-color);
}
.home .tweet-add .a {
  padding: 4px 4px;
  margin: 0;
  border: solid var(--primary-color) 1px;
}
.home .tweet-add svg {
  width: 1.1rem;
  height: 1.1rem;
}
.home .utility-right .tweet-btn {
  margin-left: 10px;
}
/*----- Stream-container -----*/
.stream-container {
  width: 100%;
  height: 100%;
}

/*- Stream -*/
.stream {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;
  border-bottom: solid var(--primary-border-color) 1px;
}
.stream:hover {
  cursor: pointer;
  background-color: #15181c;
}

/*- Context -*/
.context-container {
  margin-left: 58px;
  margin-bottom: 3px;
  font-size: 12px;
}
.context {
  margin-left: -24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.context svg {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  display: inline-block;
}

/*- Content -*/
.content {
  margin-left: 58px;
}

/*- Stream-header-container -*/
.stream-header-container {
  display: flex;
  height: 22px;
}
.main-avatar {
  float: left;
  position: absolute;
  margin-top: 3px;
  margin-left: -58px;
}
.main-avatar-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.fullname-container {
  margin-right: 5px;
}
.user-badge {
  width: 18px;
  height: 18px;
  display: inline-block;
}
.userame,
.time {
  font-weight: 100;
}
.userame {
  margin-left: 5px;
}
.dot {
  margin: 0 5px;
}
.fullname:hover,
.timestamp:hover {
  cursor: pointer;
  color: var(--primary-color);
  text-decoration: underline;
}

/*- Tweet-text-container -*/
.tweet-text-container {
  margin: 3px 0;
}
.hashtag {
  color: var(--primary-color);
}
.hashtag s {
  text-decoration: none;
}
.hashtag:hover span {
  text-decoration: underline;
}

/*- Stream-media-container -*/
.stream-media-container {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}
.media-img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

/*- stream-footer-container -*/
.stream-footer-container {
  max-width: 425px;
  margin-top: 10px;
}
.stream-footer-container svg {
  width: 18px;
  height: 18px;
  fill: var(--dark-theme-color);
}
.tweet-action {
  min-width: 80px;
  margin-right: 10px;
  display: inline-block;
}
.tweet-action .a {
  padding: 8px;
  transition: all 0.2s ease-in-out;
}
.tweet-action-btn {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.tweet-action-count {
  font-weight: bold;
  font-size: 12px;
}
.tweet-action-btn .icon-container {
  font-size: 16px;
}
.comments-btn:hover,
.comments-btn:hover svg {
  color: var(--primary-color);
  fill: var(--primary-color);
}
.comments-btn:hover .a {
  background-color: #162632;
}
.retweet-btn:hover,
.retweet-btn:hover svg {
  color: #21c16a;
  fill: #21c16a;
}
.retweet-btn:hover .a {
  background-color: #152923;
}
.likes-btn:hover,
.likes-btn:hover svg {
  color: #e0245e;
  fill: #e0245e;
}
.likes-btn:hover .a {
  background-color: #2a1a23;
}
