.toast-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(110, 118, 125, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
/*----- Toast CSS -----*/
.toast {
  z-index: 999;
  min-width: 600px;
  height: 90vh;
  min-height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: var(--dark-theme-bg);
  pointer-events: none;
  user-select: none;
  overflow-y: auto;
}
/*- Toast-header CSS -*/
.toast-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: solid var(--primary-border-color) 2px;
}
.toast-header p {
  width: 100%;
  padding-left: 10px;
  font-size: 19px;
  font-weight: bold;
}
.toast-header .btn-container {
  width: auto;
  padding-right: 15px;
}
.toast-header .btn {
  padding: 5px 15px;
}
/*- Toast-body CSS -*/
.toast-body {
  width: 100%;
  height: 100%;
  padding: 8px 15px;
}
.toast-body .body {
  width: 100%;
}
/*----*/
.toast-header .a-container,
.toast-header .btn-container,
.toast input {
  pointer-events: all;
}
/*----- Trends setting CSS ------ */
.toast-body .body label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: all;
}
.toast-body .body .label-info {
  margin-top: 10px;
  font-size: 14px;
  color: var(--grey-color);
}
/*----- Message compose CSS -----*/
.toast-body .compose {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #202327;
}
.toast-body .compose .a {
  margin: 0;
  padding: 10px;
}
.toast-body .compose svg {
  width: 30px;
  height: 18px;
}
.toast-body .compose input {
  width: 100%;
  padding: 10px 10px 10px 0;
  border: none;
  font-size: 15px;
  color: var(--dark-theme-color);
  background-color: transparent;
}
/*- Create-list CSS -*/
.toast-body .input-wrap {
  width: 100%;
  margin-bottom: 40px;
  color: var(--grey-color);
  position: relative;
}
.toast-body .input-wrap > input {
  width: 100%;
  height: 60px;
  padding: 25px 8px 0 8px;
  border: 0;
  outline: none;
  background-color: #15181c;
  font-size: 18px;
  color: var(--dark-theme-color);
}
.toast-body .input-wrap > .input-label {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom-style: solid;
  border-bottom-color: var(--primary-border-color);
}
.toast-body .label-content {
  position: absolute;
  top: 4px;
  left: 8px;
  font-size: 16px;
  max-width: calc(100% - (2 * 8px));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.toast-body .input-wrap .counter {
  position: absolute;
  bottom: -15;
  right: 8px;
}
.toast-body .input-wrap > input:focus + .input-label > .label-content,
.toast-body .input-wrap > input:focus + .input-label {
  color: var(--primary-color);
  border-bottom-color: var(--primary-color);
}
